/* Apply a box-sizing border-box to all elements */
* {
box-sizing: border-box;
}

/* Add some padding to the body */
body {
padding: 20px;
font-family: Arial, sans-serif;
}

/* Style the header */
h1 {
font-size: 2em;
margin-top: 0;
text-align: center;
padding: 20px;
}

/* Style the form */
form {
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 20px;
}

input[type="file"] {
margin-bottom: 10px;
border: none;
padding: 10px 20px;
border-radius: 5px;
background-color:  #16a085;
color: white;
cursor: pointer;
transition: background-color 0.3s;
}

input[type="submit"] {
background-color: #4CAF50;
color: white;
font-size: 1.2em;
border: none;
padding: 10px 20px;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s;
}

input[type="file"]:hover {
    background-color:  #117a65;
}



input[type="submit"]:hover {
background-color: #3e8e41;
}

/* Style the output section */
h2 {
margin-top: 30px;
}

img {
max-width: 100%;
height: auto;
margin-bottom: 10px;
align-content: center;
}

a {
display: block;
margin-top: 10px;
font-size: 1.2em;
background-color: #4CAF50;
color: white;
padding: 10px 20px;
border-radius: 5px;
text-decoration: none;
transition: background-color 0.3s;
}

a:hover {
background-color: #3e8e41;
}
