body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 120px); /* Adjust based on header/footer height */
}
canvas {
    border: 2px solid #000;
    margin: 20px;
}
footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}