{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clear Canvas</title>
    {% comment %} <link rel="stylesheet" href="styles.css"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'base.css' %}">
</head>
<body>

<header>
    <h1>Clear Canvas</h1>
</header>

<main>
    <canvas id="clearCanvas" width="800" height="600"></canvas>
</main>

<footer>
    <p>Footer Content</p>
</footer>

</body>
</html>