<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Remove Background</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Remove Background</h1>
    <form action="/" method="POST" enctype="multipart/form-data">
        <input type="file" name="image" required>
        <input type="submit" value="Remove Background">
    </form>
    {% if output_path %}
        <h2>Output Image</h2>
        <div>
            <div class="image-slider">
                <div>
                    <img src="{{ url_for('static', filename='results/' + output_filename) }}" />
                </div>
                <img src="{{ url_for('static', filename='inputs/' + input_file) }}" />
            </div>
        </div>
        <br>
        <a href="{{ url_for('download', filename=output_filename) }}">Download</a>
    {% endif %}
</body>
</html>

